In [1]:
import pandas as pd

In [2]:
econ_file = '/Users/ankursharma/Desktop/MTP-org/gem2data/analysis/economic_entity_rcnn.csv'
tech_file = '/Users/ankursharma/Desktop/MTP-org/gem2data/analysis/tech_entity.csv'

In [3]:
df_econ = pd.read_csv(econ_file)
df_tech = pd.read_csv(tech_file)

In [4]:
df_econ.head()

           Entity label  By-Statement
0      Ajay Kumar  Anti             1
1      Ajay Kumar   Pro             1
2      Ajit Pawar  Anti             1
3      Ajit Pawar   Pro             2
4  Akhilesh Yadav  Anti             8

In [38]:
df_tech_pro = df_tech[df_tech['label'] == 'PRO'].drop(columns=['label']).sort_values(by=['By-Statement', 'Entity'], ascending=False)
df_tech_anti = df_tech[df_tech['label'] == 'ANTI'].drop(columns=['label']).sort_values(by=['By-Statement', 'Entity'], ascending=False)
df_econ_pro = df_econ[df_econ['label'] == 'Pro'].drop(columns=['label']).sort_values(by=['By-Statement', 'Entity'], ascending=False)
df_econ_anti = df_econ[df_econ['label'] == 'Anti'].drop(columns=['label']).sort_values(by=['By-Statement', 'Entity'], ascending=False)

In [55]:
print('Top Pro')
print(df_econ_pro[:30].to_string(index=False))
print('\n\n\n\nTop Anti')
print(df_econ_anti[:30].to_string(index=False))

Top Pro
                Entity  By-Statement
                  Modi           732
          Arun Jaitley           230
                   Ram           211
         Narendra Modi           119
          Siddaramaiah           118
                 Naidu            51
     Devendra Fadnavis            50
                Gandhi            47
       Amarinder Singh            37
       Mamata Banerjee            34
      Pranab Mukherjee            28
 Shivraj Singh Chouhan            27
                  Babu            27
       Yogi Adityanath            25
          Nitish Kumar            19
   Manohar Lal Khattar            18
     Radha Mohan Singh            16
                  Park            15
                  Jain            13
         Rajnath Singh            11
          Rahul Gandhi            10
     Sushil Kumar Modi             9
   Parkash Singh Badal             9
          Smriti Irani             8
        Naveen Patnaik             8
      Manohar Parrikar             8
       Vasundhara Raje             6
    Nirmala Sitharaman             6
        Manmohan Singh             6
     M. Venkaiah Naidu             6




Top Anti
                 Entity  By-Statement
                   Modi           160
                    Ram           154
                 Gandhi            84
           Siddaramaiah            74
           Arun Jaitley            48
          Narendra Modi            36
        Mamata Banerjee            32
        Amarinder Singh            28
           Rahul Gandhi            26
                  Naidu            19
           Nitish Kumar            12
                   Babu            12
        Yogi Adityanath            10
         Akhilesh Yadav             8
                   Jain             7
  Shivraj Singh Chouhan             6
      Devendra Fadnavis             6
         Shashi Tharoor             5
                  Nagar             5
         Manmohan Singh             5
      Radha Mohan Singh             4
                   Park             4
           Smriti Irani             3
                 Shukla             3
       Pranab Mukherjee             3
             Kumar Ravi             3
 Edappadi K.Palaniswami             3
          Rajnath Singh             2
         Raghuram Rajan             2
      Prithviraj Chavan             2